<a href="https://colab.research.google.com/github/swaroop-2007/ds_salary_prediction/blob/main/ML_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [54]:
df = pd.read_csv('https://github.com/swaroop-2007/ds_salary_prediction/blob/main/Cleaned_data.csv?raw=true')
df.tail()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,maxsalary,averagesalary,Company,state,same_state,age,python y/n,spark y/n,excel y/n,aws y/n
737,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+ employees,1830,Company - Public,...,111,84.5,GSK\n,MA,0,192,0,0,0,1
738,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,...,133,102.5,Eventbrite\n,TN,0,16,1,1,0,1
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,...,91,73.5,Software Engineering Institute\n,PA,1,38,0,0,1,0
740,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,...,160,127.5,"Numeric, LLC\n",PA,0,-1,0,0,1,0
741,Research Scientist â€“ Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,...,126,93.5,Riverside Research Institute\n,OH,0,55,1,0,0,0

In [55]:
df['Competitors']
df['numberofCompetitors'] = df['Competitors'].apply(lambda x: len(x.split(','))if x != '-1' else 0)

In [56]:
df['lengthOfDescription'] = df['Job Description'].apply(lambda x: len(x))
df['lengthOfDescription']

0      2536
1      4783
2      3461
3      3883
4      2728
       ...
737    6162
738    6130
739    3078
740    1642
741    3673
Name: lengthOfDescription, Length: 742, dtype: int64

In [57]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'

In [58]:
df['jobsimp'] = df['Job Title'].apply(title_simplifier)
df.jobsimp.value_counts()

data scientist    279
na                184
data engineer     119
analyst           102
manager            22
mle                22
director           14
Name: jobsimp, dtype: int64

In [59]:
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

senior    220
Name: seniority, dtype: int64

In [60]:
df['state'] = df['state'].apply(lambda x: x.strip() if x.strip().lower()!= 'los angeles' else 'CA')
df['state']

0      NM
1      MD
2      FL
3      WA
4      NY
       ..
737    MA
738    TN
739    PA
740    PA
741    OH
Name: state, Length: 742, dtype: object

In [61]:
df['Company']
#Removing "\n from Name of Companies"
df['Company'] = df['Company'].apply(lambda x: x.replace('\n', ''))

In [62]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hoursalary', 'employeerprovided', 'minsalary', 'maxsalary',
       'averagesalary', 'Company', 'state', 'same_state', 'age', 'python y/n',
       'spark y/n', 'excel y/n', 'aws y/n', 'numberofCompetitors',
       'lengthOfDescription', 'jobsimp', 'seniority'],
      dtype='object')

### From the columns we will take Average Salary, Size, Type of Ownership, Rating, Industry, Sector, Number of Competitors, Revenue, Hour Salary, Employeer Provided Salary, State of the Job, Python, Age, Same state as Headquarters, Excel, AWS, Job Simp, Seniority, Length of Description for the ML model building purpose.

In [63]:
df_model = df[['averagesalary','Rating','Size','Type of ownership','Industry','Sector','Revenue','numberofCompetitors','hoursalary','employeerprovided',
             'state','same_state','age','python y/n','aws y/n','excel y/n','jobsimp','seniority','lengthOfDescription']]

In [64]:
df_model.head()

,averagesalary,Rating,Size,Type of ownership,Industry,Sector,Revenue,numberofCompetitors,hoursalary,employeerprovided,state,same_state,age,python y/n,aws y/n,excel y/n,jobsimp,seniority,lengthOfDescription
0,72.0,3.8,501 to 1000 employees,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),0,0,0,NM,0,49,1,0,1,data scientist,None,2536
1,87.5,3.4,10000+ employees,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),0,0,0,MD,0,38,1,0,0,data scientist,None,4783
2,85.0,4.8,501 to 1000 employees,Company - Private,Security Services,Business Services,$100 to $500 million (USD),0,0,0,FL,1,12,1,0,1,data scientist,None,3461
3,76.5,3.8,1001 to 5000 employees,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),3,0,0,WA,1,57,1,0,0,data scientist,None,3883
4,114.5,2.9,51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,3,0,0,NY,1,24,1,0,1,data scientist,None,2728

### Getting Dummy data for our model DataFrame

In [65]:
dummy = pd.get_dummies(df_model)

In [66]:
dummy

,averagesalary,Rating,numberofCompetitors,hoursalary,employeerprovided,same_state,age,python y/n,aws y/n,excel y/n,...,state_WA,state_WI,jobsimp_analyst,jobsimp_data engineer,jobsimp_data scientist,jobsimp_director,jobsimp_manager,jobsimp_mle,jobsimp_na,seniority_senior
0,72.0,3.8,0,0,0,0,49,1,0,1,...,0,0,0,0,1,0,0,0,0,0
1,87.5,3.4,0,0,0,0,38,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,85.0,4.8,0,0,0,1,12,1,0,1,...,0,0,0,0,1,0,0,0,0,0
3,76.5,3.8,3,0,0,1,57,1,0,0,...,1,0,0,0,1,0,0,0,0,0
4,114.5,2.9,3,0,0,1,24,1,0,1,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,84.5,3.9,3,0,0,0,192,0,1,0,...,0,0,0,0,0,0,0,0,1,1
738,102.5,4.4,3,0,0,0,16,1,1,0,...,0,0,0,1,0,0,0,0,0,1
739,73.5,2.6,0,0,0,1,38,0,0,1,...,0,0,0,0,0,0,0,0,1,0
740,127.5,3.2,0,0,0,0,-1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
741,93.5,3.6,0,0,0,0,55,1,0,0,...,0,0,0,0,0,0,0,0,1,0

### Train-Test Split

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
x = dummy.drop('averagesalary', axis=1)
y = dummy.averagesalary.values

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

### Multiple Linear Regression Model

In [69]:
import statsmodels.api as sm

In [70]:
X_sm = sm.add_constant(x)
model = sm.OLS(y, X_sm)
model.fit().summary()

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.708
Model:                            OLS   Adj. R-squared:                  0.639
Method:                 Least Squares   F-statistic:                     10.39
Date:                Wed, 21 Dec 2022   Prob (F-statistic):           1.63e-95
Time:                        05:53:50   Log-Likelihood:                -3311.8
No. Observations:                 742   AIC:                             6906.
Df Residuals:                     601   BIC:                             7556.
Df Model:                         140
Covariance Type:            nonrobust
=====================================================================================================================
                                                        coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------
const                                                45.1983      6.767      6.679      0.000      31.908      58.488
Rating                                                3.6867      1.926      1.914      0.056      -0.095       7.469
numberofCompetitors                                   2.2363      0.866      2.581      0.010       0.535       3.938
hoursalary                                          -36.6772      9.129     -4.018      0.000     -54.606     -18.749
employeerprovided                                    31.7928     11.478      2.770      0.006       9.252      54.334
same_state                                            2.4896      2.612      0.953      0.341      -2.641       7.620
age                                                   0.0349      0.030      1.163      0.245      -0.024       0.094
python y/n                                            8.0711      2.491      3.240      0.001       3.179      12.964
aws y/n                                               1.0087      2.696      0.374      0.708      -4.287       6.304
excel y/n                                            -0.3247      2.259     -0.144      0.886      -4.762       4.113
lengthOfDescription                                  -0.0001      0.001     -0.185      0.853      -0.002       0.001
Size_-1                                              13.6822      8.637      1.584      0.114      -3.280      30.645
Size_1 to 50 employees                                1.1971      6.472      0.185      0.853     -11.513      13.907
Size_10000+ employees                                -2.5537      5.756     -0.444      0.657     -13.858       8.751
Size_1001 to 5000 employees                           6.3387      3.833      1.654      0.099      -1.188      13.866
Size_201 to 500 employees                             2.5226      3.853      0.655      0.513      -5.044      10.089
Size_5001 to 10000 employees                         -3.6745      5.408     -0.679      0.497     -14.296       6.947
Size_501 to 1000 employees                            2.4138      4.027      0.599      0.549      -5.496      10.323
Size_51 to 200 employees                              4.3078      4.400      0.979      0.328      -4.334      12.949
Size_Unknown                                         20.9644     14.002      1.497      0.135      -6.533      48.462
Type of ownership_-1                                 13.6822      8.637      1.584      0.114      -3.280      30.645
Type of ownership_College / University                6.5403     17.692      0.370      0.712     -28.205      41.286
Type of ownership_Company - Private                   8.8189      5.192      1.699      0.090      -1.377      19.015
Type of ownership_Company - Public                   13.4944      5.657      2.386      0.017       2.385      24.603
Type of ownership_Government                        -15.1553     15.262     -0.993      0.321     -45.128      14.817
Type of ownership_Hospital                           -6.8588      9.953     -0.689      0.491     -26.405      12.688
Type of ownership_Nonprofit Organization             -9.6712      6.682     -1.447      0.148     -22.795       3.452
Type of ownership_Other Organization                 -6.0994     14.265     -0.428      0.669     -34.115      21.916
Type of ownership_School / School District           -5.8840     23.757     -0.248      0.804     -52.541      40.773
Type of ownership_Subsidiary or Business Segment     12.9784      6.888      1.884      0.060      -0.549      26.506
Type of ownership_Unknown                            33.3529     28.584      1.167      0.244     -22.784      89.490
Industry_-1                                           6.0270      7.897      0.763      0.446      -9.481      21.535
Industry_Accounting                                   2.2670     13.370      0.170      0.865     -23.991      28.525
Industry_Advertising & Marketing                     12.0912      5.904      2.048      0.041       0.497      23.686
Industry_Aerospace & Defense                          5.5437      3.097      1.790      0.074      -0.539      11.626
Industry_Architectural & Engineering Services       -32.3248     15.898     -2.033      0.042     -63.547      -1.102
Industry_Auctions & Galleries                         9.4084     22.844      0.412      0.681     -35.455      54.272
Industry_Banks & Credit Unions                      -17.0370      8.026     -2.123      0.034     -32.800      -1.274
Industry_Beauty & Personal Accessories Stores        15.4492     21.528      0.718      0.473     -26.830      57.728
Industry_Biotech & Pharmaceuticals                    6.4710      2.040      3.172      0.002       2.464      10.478
Industry_Brokerage Services                          28.1934     15.488      1.820      0.069      -2.225      58.611
Industry_Colleges & Universities                     10.6461     12.948      0.822      0.411     -14.782      36.075
Industry_Computer Hardware & Software                -0.8848      3.246     -0.273      0.785      -7.259       5.489
Industry_Construction                               -15.5525     10.540     -1.476      0.141     -36.253       5.148
Industry_Consulting                                  12.8280      5.886      2.180      0.030       1.269      24.387
Industry_Consumer Product Rental                     -2.4513     12.995     -0.189      0.850     -27.973      23.070
Industry_Consumer Products Manufacturing             13.9676      9.807      1.424      0.155      -5.292      33.227
Industry_Department, Clothing, & Shoe Stores          4.8431     11.560      0.419      0.675     -17.860      27.546
Industry_Education Training Services                -23.2056     12.476     -1.860      0.063     -47.708       1.297
Industry_Energy                                      -4.1009      7.639     -0.537      0.592     -19.103      10.901
Industry_Enterprise Software & Network Solutions      9.5405      3.581      2.664      0.008       2.507      16.574
Industry_Farm Support Services                       -0.9168     12.637     -0.073      0.942     -25.735      23.901
Industry_Federal Agencies                             8.5949      5.180      1.659      0.098      -1.578      18.768
Industry_Financial Analytics & Research               0.4061      9.183      0.044      0.965     -17.628      18.440
Industry_Financial Transaction Processing           -17.5275     12.844     -1.365      0.173     -42.752       7.697
Industry_Food & Beverage Manufacturing               -3.0200     11.561     -0.261      0.794     -25.725      19.685
Industry_Gambling                                    -9.2574      6.501     -1.424      0.155     -22.026       3.511
Industry_Gas Stations                               -24.2680     15.516     -1.564      0.118     -54.740       6.204
Industry_Health Care Products Manufacturing          21.0558     22.070      0.954      0.340     -22.288      64.400
Industry_Health Care Services & Hospitals             5.9427      2.900      2.049      0.041       0.248      11.638
Industry_Health, Beauty, & Fitness                   -2.0954     17.392     -0.120      0.904     -36.252      32.061
Industry_IT Services                                  1.2197      3.558      0.343      0.732      -5.769       8.208
Industry_Industrial Manufacturing                   -13.8530     12.795     -1.083      0.279     -38.981      11.275
Industry_Insurance Agencies & Brokerages             -3.7877      6.973     -0.543      0.587     -17.482       9.907
Industry_Insurance Carriers                           5.5366      4.464      1.240      0.215      -3.229      14.303
Industry_Internet                                     0.2526      4.412      0.057      0.954      -8.413       8.918
Industry_Investment Banking & Asset Management       35.9940     12.064      2.984      0.003      12.301      59.687
Industry_K-12 Education                              10.2737     14.755      0.696      0.487     -18.703      39.251
Industry_Lending                                     -1.6416      9.844     -0.167      0.868     -20.975      17.692
Industry_Logistics & Supply Chain                     1.4777     13.373      0.110      0.912     -24.786      27.741
Industry_Metals Brokers                              -7.4596     15.572     -0.479      0.632     -38.041      23.122
Industry_Mining                                      -4.0026     17.896     -0.224      0.823     -39.149      31.143
Industry_Motion Picture Production & Distribution    46.2682     19.567      2.365      0.018       7.841      84.696
Industry_Other Retail Stores                         40.1625     21.659      1.854      0.064      -2.374      82.699
Industry_Real Estate                                 -2.2933      4.955     -0.463      0.644     -12.024       7.438
Industry_Religious Organizations                     26.1682     13.687      1.912      0.056      -0.712      53.048
Industry_Research & Development                      -3.0320      6.532     -0.464      0.643     -15.860       9.796
Industry_Security Services                           14.2280      9.739      1.461      0.145      -4.899      33.355
Industry_Social Assistance                          -11.2478     11.762     -0.956      0.339     -34.347      11.851
Industry_Sporting Goods Stores                      -37.7584     17.795     -2.122      0.034     -72.706      -2.811
Industry_Staffing & Outsourcing                      -5.8096     10.965     -0.530      0.596     -27.345      15.725
Industry_Stock Exchanges                            -15.1492      7.878     -1.923      0.055     -30.621       0.322
Industry_TV Broadcast & Cable Networks               -0.0818     15.499     -0.005      0.996     -30.520      30.356
Industry_Telecommunications Manufacturing             4.2454     13.644      0.311      0.756     -22.550      31.041
Industry_Telecommunications Services                 -0.0075     11.239     -0.001      0.999     -22.080      22.065
Industry_Transportation Equipment Manufacturing     -19.5701     23.558     -0.831      0.406     -65.837      26.697
Industry_Transportation Management                  -20.3961     13.978     -1.459      0.145     -47.847       7.055
Industry_Travel Agencies                             -5.4944      5.243     -1.048      0.295     -15.791       4.802
Industry_Trucking                                    22.7377     19.815      1.147      0.252     -16.178      61.654
Industry_Video Games                                -30.2222     14.405     -2.098      0.036     -58.512      -1.932
Industry_Wholesale                                   -2.1929     13.085     -0.168      0.867     -27.891      23.506
Sector_-1                                             6.0270      7.897      0.763      0.446      -9.481      21.535
Sector_Accounting & Legal                             2.2670     13.370      0.170      0.865     -23.991      28.525
Sector_Aerospace & Defense                            5.5437      3.097      1.790      0.074      -0.539      11.626
Sector_Agriculture & Forestry                        -0.9168     12.637     -0.073      0.942     -25.735      23.901
Sector_Arts, Entertainment & Recreation              -9.2574      6.501     -1.424      0.155     -22.026       3.511
Sector_Biotech & Pharmaceuticals                      6.4710      2.040      3.172      0.002       2.464      10.478
Sector_Business Services                             -4.2120      4.198     -1.003      0.316     -12.457       4.033
Sector_Construction, Repair & Maintenance           -15.5525     10.540     -1.476      0.141     -36.253       5.148
Sector_Consumer Services                             -4.5467      9.406     -0.483      0.629     -23.020      13.927
Sector_Education                                     -2.2859      6.792     -0.337      0.737     -15.626      11.054
Sector_Finance                                       13.2381      4.508      2.937      0.003       4.385      22.092
Sector_Government                                     8.5949      5.180      1.659      0.098      -1.578      18.768
Sector_Health Care                                    5.9427      2.900      2.049      0.041       0.248      11.638
Sector_Information Technology                        10.1281      2.760      3.669      0.000       4.707      15.549
Sector_Insurance                                      1.7490      3.933      0.445      0.657      -5.974       9.472
Sector_Manufacturing                                 -1.4197      6.897     -0.206      0.837     -14.965      12.126
Sector_Media                                         15.9642      8.713      1.832      0.067      -1.147      33.075
Sector_Mining & Metals                              -11.4621     10.675     -1.074      0.283     -32.427       9.503
Sector_Non-Profit                                    14.9204      8.882      1.680      0.093      -2.523      32.363
Sector_Oil, Gas, Energy & Utilities                  -4.1009      7.639     -0.537      0.592     -19.103      10.901
Sector_Real Estate                                   -2.2933      4.955     -0.463      0.644     -12.024       7.438
Sector_Retail                                         7.8368      7.144      1.097      0.273      -6.194      21.868
Sector_Telecommunications                             4.2379      7.754      0.547      0.585     -10.991      19.467
Sector_Transportation & Logistics                     3.8193      8.006      0.477      0.634     -11.904      19.543
Sector_Travel & Tourism                              -5.4944      5.243     -1.048      0.295     -15.791       4.802
Revenue_$1 to $2 billion (USD)                        2.9670      4.786      0.620      0.536      -6.432      12.366
Revenue_$1 to $5 million (USD)                       -5.0904     10.891     -0.467      0.640     -26.480      16.299
Revenue_$10 to $25 million (USD)                     -4.7955      5.209     -0.921      0.358     -15.025       5.434
Revenue_$10+ billion (USD)                           10.4344      6.378      1.636      0.102      -2.091      22.959
Revenue_$100 to $500 million (USD)                   -5.1515      4.032     -1.278      0.202     -13.071       2.768
Revenue_$2 to $5 billion (USD)                        0.1118      6.219      0.018      0.986     -12.103      12.326
Revenue_$25 to $50 million (USD)                     -4.9340      5.345     -0.923      0.356     -15.431       5.563
Revenue_$5 to $10 billion (USD)                       6.6219      7.844      0.844      0.399      -8.782      22.026
Revenue_$5 to $10 million (USD)                      31.9044      8.290      3.848      0.000      15.623      48.186
Revenue_$50 to $100 million (USD)                     5.5292      4.921      1.124      0.262      -4.136      15.194
Revenue_$500 million to $1 billion (USD)             -1.7259      5.269     -0.328      0.743     -12.074       8.622
Revenue_-1                                           13.6822      8.637      1.584      0.114      -3.280      30.645
Revenue_Less than $1 million (USD)                   -4.0179     15.157     -0.265      0.791     -33.786      25.750
Revenue_Unknown / Non-Applicable                     -0.3372      3.040     -0.111      0.912      -6.307       5.633
state_AL                                             -6.1118     10.438     -0.586      0.558     -26.611      14.387
state_AZ                                            -14.0020      8.611     -1.626      0.104     -30.913       2.909
state_CA                                             26.7552      3.141      8.518      0.000      20.587      32.924
state_CO                                              8.0729      8.278      0.975      0.330      -8.184      24.330
state_CT                                            -23.6055     11.343     -2.081      0.038     -45.882      -1.329
state_DC                                             13.8316      7.914      1.748      0.081      -1.712      29.375
state_DE                                              9.7332     13.835      0.703      0.482     -17.438      36.905
state_FL                                            -16.0213      7.607     -2.106      0.036     -30.961      -1.082
state_GA                                            -18.5417     10.099     -1.836      0.067     -38.375       1.292
state_IA                                             -2.3320     12.411     -0.188      0.851     -26.707      22.043
state_ID                                            -24.6981     18.259     -1.353      0.177     -60.557      11.160
state_IL                                              9.1358      5.025      1.818      0.070      -0.733      19.005
state_IN                                            -10.3104      8.801     -1.172      0.242     -27.594       6.973
state_KS                                            -15.1492      7.878     -1.923      0.055     -30.621       0.322
state_KY                                             19.8539     12.341      1.609      0.108      -4.382      44.090
state_LA                                             -6.2465     13.025     -0.480      0.632     -31.828      19.334
state_MA                                              2.8380      3.865      0.734      0.463      -4.752      10.428
state_MD                                              7.8801      4.896      1.609      0.108      -1.736      17.496
state_MI                                              7.2660     12.299      0.591      0.555     -16.888      31.420
state_MN                                              8.2491     17.243      0.478      0.633     -25.615      42.113
state_MO                                              9.7587      9.748      1.001      0.317      -9.386      28.904
state_NC                                             -3.9346      6.721     -0.585      0.558     -17.134       9.264
state_NE                                             -2.7999     13.432     -0.208      0.835     -29.179      23.579
state_NJ                                              1.2588      6.787      0.185      0.853     -12.070      14.588
state_NM                                            -30.3472     14.457     -2.099      0.036     -58.739      -1.955
state_NY                                              5.8356      4.013      1.454      0.146      -2.046      13.717
state_OH                                             -0.5655      8.146     -0.069      0.945     -16.565      15.434
state_OR                                              2.2397     12.607      0.178      0.859     -22.520      27.000
state_PA                                             10.2755      7.100      1.447      0.148      -3.668      24.219

### Model Explains 70% variation. 
### Depending on p value we can find which variables are relevant. eg: Python is relevant for the position. We want p value less than 0.05

In [71]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [72]:
lm = LinearRegression()
lm.fit(X_train, y_train)

LinearRegression()

In [73]:
np.mean(cross_val_score(lm,X_train,y_train, scoring = 'neg_mean_absolute_error', cv= 3))

-229514681.370401

### Cross value will take sample data, run the model on that sample.

### Random Forest

In [74]:
from sklearn.ensemble import RandomForestRegressor

In [75]:
rf = RandomForestRegressor()

In [76]:
np.mean(cross_val_score(rf,X_train,y_train,scoring = 'neg_mean_absolute_error', cv= 3))

-15.073298509630996

### Better Values than regression

### Tuning

In [77]:
from sklearn.model_selection import GridSearchCV

In [78]:
parameters = {'n_estimators':range(10,300,10), 'criterion':('squared_error','absolute_error'), 'max_features':('auto','sqrt','log2')}

### Grid Search

In [79]:
gs = GridSearchCV(rf,parameters,scoring='neg_mean_absolute_error',cv=3)
gs.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=RandomForestRegressor(),
             param_grid={'criterion': ('squared_error', 'absolute_error'),
                         'max_features': ('auto', 'sqrt', 'log2'),
                         'n_estimators': range(10, 300, 10)},
             scoring='neg_mean_absolute_error')

In [83]:
gs.best_score_
#

-14.776941187220373

In [84]:
gs.best_estimator_

RandomForestRegressor(n_estimators=130)

### 130 was the best no of estimators

### Testing ensemble models

In [85]:
tpred_lm = lm.predict(X_test)

In [86]:
tpred_rf = gs.best_estimator_.predict(X_test)

In [87]:
from sklearn.metrics import mean_absolute_error

In [88]:
mean_absolute_error(y_test,tpred_lm)

12426823.381992007

In [89]:

mean_absolute_error(y_test,tpred_rf)

10.964584408879713

### Random Forest improved the most